body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.contaner{
    width:1115px;
    margin: 0 auto;
}
.active{
    color: #fff !important;
}
header{
    background-color: #1A1360;
    padding:20px 0 ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.bg-img img{
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
}

.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.navber-area{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navber{
    display: flex;
    align-items: center;
}
.navber ul{
    display: flex;
    padding: 0 30px;
    flex-wrap: wrap;
}
.navber ul li{
    list-style: none;
    padding: 0 10px;
}
.navber ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5) ;
    transition: .3s ease;
}
.navber ul li a:hover{
    color:#BBC1D7 ;
}
.section-1{
    padding-top: 78px;
}
.bg-img-sections::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(201, 27, 27, 0.6);
    z-index: -1;
}
.bg-img-sections{
    background-image: url(../img/bg-girl-02.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index:1;
}
.hero-area{
    display: flex;
    align-items: center;
    gap:30px ;
    
}
.hero-text-area{
    width: 50%;
}
.hero-text-area h4{
    font-size:30px ;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    margin-bottom:20px ;
}
.hero-text-area h1{
    font-size: 60px;
    color: #fff;
    margin-top: 10px;
}
.header-area a button{
    font-size: 15px;
    padding: 8px 15px;
}
.button button:hover{
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
}
.hero-mobail-img-area{
    width:40% ;
    position: relative;
}
.hero-icons{
   position: absolute;
   top: 350px;
   left: 0;
   cursor: pointer;
}
.hero-icons1{
    position: absolute;
    top: 350px;
    right: 0;
    cursor: pointer;
}
.hero-mobail-img-area span{
    font-size: 50px;
    color: #fff;
}
.hero-mobail-img-area img{
    margin-left: 20px;
}
.section-2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section-2 h2{
    font-size: 40px;
    font-weight:500 ;
}
.section-2-works{
    display: flex;
    width:100% ;
    padding-top: 50px;
    gap:20px ;
    flex-wrap: wrap;
    justify-content: center;
}
.sct-2-work{
    width:32% ;
}
.sct-2-work-img-area1{
   background-image: url(../svg/organic-shape-01.svg);
   background-repeat: no-repeat;
   background-position: center;
}
.sct-2-work-img-area2{
    background-image: url(../svg/organic-shape-02.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }
 .sct-2-work-img-area3{
    background-image: url(../svg/organic-shape-03.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }
 .sct-2-text-area h4{
    font-size: 20px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.8);
 }
 .sct-2-text-area p{
    color:rgba(0, 0, 0, 0.5) ;
    line-height: 28px;
 }
 .section-3{
    background-color: #F6F6F6;
 }
 .section-3-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px ;
    padding:50px 10px ;
    flex-wrap: wrap;
 }
 .section-4{
    background-image: url(../img/bg-shapes-image.png);
    background-color: rgb(237, 237, 237);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    padding-top: 100px;
    
 }
 .section-4::after{
    background-image: url(../img/bg-shape-mask-down.png);
    background-size: cover;
    bottom: -0.0625rem;
    content: "";
    left: 0;
    height: 3.75rem;
    position: absolute;
    width: 100%;
}
.section-4-heading{
    text-align: center;
    margin-bottom: 60px;
}
.section-4-heading h2{
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}
.section-4-heading p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.section-4-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px ;
    margin-bottom: 70px;
}
.section-4-desktop h4{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.sct-4-bofor h4{
    color:rgba(0, 0, 0, 0.8) ;
    position: relative;
}
.sct-4-bofor h4::before{
    position: absolute;
    content: "";
    width:73px ;
    height: 3px;
    background-color:#F26D7D ;
    top:28px ;
}
.section-4-imgs{
    margin:0px 208px;
}
.section-4-imgs img{
    max-width: 100%;
}
.section-5{
    padding-top: 100px;
    padding-bottom: 150px;
}
.sct-5-heading h2{
    font-size:40px ;
    font-weight: 500;
    font-family: inherit;
   
}
.section-5-main{
    display: flex;
    align-items:start;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 30px;
}
.section-5-text-area{
    width:47% ;
}
.section-5-text-area p{
    margin-top: 0;
    margin-bottom: 40px;
    color:rgba(0, 0, 0, .5);
    font-weight: 500;
    line-height: 25px;
}
.button button{
    color: #fff;
    padding:10px 25px ;
    background-color: #F26D7D;
    border:none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}
.section-5-img{
    width:49% ;
    
}
.section-5-img img{
    width: 100%;
    box-shadow:0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2) ;
}
.section-6{
    background-image: url("../img/bg-shapes-image-02 (1).png");
    background-repeat: no-repeat;
    padding-top: 70px;
    
}
.section-6-main{
    display: flex;
    gap:40px ;
    align-items:start;
    flex-wrap: wrap;
}
.section-6-imgs{
    width:48% ;
    padding-left:50px ;
    position: relative;
}
.sct-6-imgs-main{
    width: 100% ;
    position: relative;
    
}
.sct-6-imgs-main img{
    width:100% ;
    box-shadow: 0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2);
}
.sct-6-imgs-topimg{
        width: 45%;
        position: absolute;
        top: -50px;
        left: 130px;
        z-index: 1;
}
.sct-6-imgs-topimg img{
    max-width:100% ;
    box-shadow: 0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2);
}
.sct-6-imgs-bottomimg {
    width: 45%;
    position: absolute;
    top: 135px;
    left: 0px;
}
.sct-6-imgs-bottomimg img{
    max-width: 100%;
    box-shadow: 0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2);
}
.section-6-text-area{
    width:40% ;
    
}
.sct-6-text-heading{
    margin-bottom: 70px;
}
.sct-6-text-heading h2{
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;
}
.section-6-text-area p{
    color: rgba(0, 0, 0, .5);
    line-height: 25px;
}
.sct-6-text-option{
    margin-top: 40px;
    
}
.sct-6-text-option h6{
    margin: 0;
}
.sct-6-text-option p{
    margin-bottom: 30px;
}
.sct-6-text-option h6:hover{
    color:#dd1a2e ;
}
.section-6-text-area h6{
    font-size: .9375rem;
    font-weight: 500;
    transition: ease 0.3s;
    margin-top: 20px;
}
.sct-6-text-border{
    border-top:1px solid rgba(0, 0, 0, .2) ;
}
.sct-6-text-border h6{
    margin:15px 0;
}
.section-6-text-area h6:hover{
    color:#dd1a2e ;
}
.section-7{
    position: relative;
    z-index:1 ;
}
.section-7::before{
    content:"";
    position: absolute;
    width:100% ;
    background-image: url(../img/bg-pattern-dot.png);
    background-repeat: repeat;
    background-position: center center;
    opacity: 0.1;
    height: 40vh;
    z-index:-1 ;
}
.section-7-heading h3{
    font-size: 27px;
    color: rgba(0, 0, 0, 0.8);
}
.sct-7-main{
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.sct-7-submit-area{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:40px ;
}
.sct-7-submit-area input{
    width: 100%;
    padding:10px 0 ;
    padding-left: 15px;
    cursor: pointer;
    outline:none ;
    border: 2px solid rgba(0, 0, 0, .3);
}
.sct-7-button{
    width:20% ;
}
.sct-7-input{
    width:70% ;
}
.sct-7-submit-area input::placeholder{
    font-size: 15px;
    color: rgba(0, 0, 0, .3);
}
.sct-7-submit-area button{
    padding:10px 40px ;
}
.sct-7-main p{
    color: rgba(0, 0, 0, .4);
    font-size: 13px;
}
.hading-h2{
    font-size: 40px;
    font-weight: 500;
}
.section-8{
    padding-top: 150px;
    padding-bottom: 150px;
}
.section-8-heading h2{
    text-align: center;
}
.cards{
    width:100%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.card{
    width:32.33%;
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
    border-radius: 5px;
    z-index: -1;
    background-color: #FFFFFF;
}
.card-hading{
    width:100% ;
    background-color: #1B1464;
    border-radius:5px 5px 0 0 ;
}
.card-hading h4{
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight:500 ;
    padding:14px 0 ;
    margin: 0;
}
.card-price{
    width:100% ;
    text-align: center;
    background-color:#F7F7F7 ;
    padding-top:50px ;
    padding-bottom: 30px;
}
.card-price h6{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}
.card-price p{
    margin-top: 5px;
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
}
.boderbutton{
    border-bottom:1px solid rgba(0, 0, 0, .2) ;
}
.card-fichers ul{
    padding-left: 0;
}
.card-fichers ul li{
    list-style: none;
    text-align: center;
    padding:12px 0 ;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}
.card-fichers ul li s{
    color: rgba(0, 0, 0, .5);
}
.card-button{
    width:100% ;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}
.card-button button{
    padding: 10px 20px;
    border: 2px solid #F26D7D;
    border-radius: 25px;
    font-size: 18px;
    color: #f26d7d;
    background: transparent;
}
.card-button button:hover {
    background-color: #f26d7d;
    color: #fff;
}
.card-scale{
    transform: scale(1.1);
    z-index:1 !important;
   box-shadow:0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2) !important;
}
.button-sclae button{
    background-color:#F26D7D !important ;
    color: #fff;
}
.button-sclae button:hover{
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
}
.card-hading-scale{
    background-color: #F26D7D;
}
.card-price-scale{
    background-color:#D96270 ;
    color: #fff;
}
.card-price-scale p{
    color: rgba(255, 255, 255, 0.5);
}
.card-price-scale span{
    margin-left: 2px;
    letter-spacing: 1px;
    font-size: 30px;
}
.section-9{
    padding-top: 100px;
    padding-bottom: 150px;
}
.section-9-hading h2{
    text-align: center;
    padding-bottom: 150px;
}
.section-9-main{
    background-image: url(../img/bg-bubble.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    z-index: -1;
    
}
.clientimg{
    position: relative;
    width: 20%;
    margin: 0 auto ;
    top:-50px ;
}
.clientimg1{
    width:70% ;
    
}
.clientimg1 img{
    width: 100%;
    border-radius: 50%;
}

.sct-9-img-icon {
    position: absolute;
    content: "";
    left: 100px;
    background-image: url(../svg/download.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
    z-index: 2;
    bottom: -20px;

}
.sct-9-img-icon i{
    font-size: 30px;
    color: #fff;
    
}
.sct-9-p{
    width:60% ;
    margin: 0 auto;
}
.sct-9-p p{
    color: rgba(0, 0, 0, .5);
    text-align: center;
    font-size: 20px;
}
.sct-9-footer{
    text-align: center;
}
.sct-9-footer h6{
    font-size: 20px;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
}
.sct-9-footer p{
    margin-top: 10px;
    color: rgba(0, 0, 0, .5);
}
.section-10{
    background-color: #F7F7F7;
    background-image: url(../img/bg-shapes.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section-10::before{
    background-image: url(../../assets/img/bg-shape-mask-up.png);
    background-size: cover;
    content: "";
    left: 0;
    height: 3.75rem;
    position: absolute;
    top: -0.0625rem;
    width: 100%;
    
}
.sct-10-hading{
    padding-top: 80px;
}
.sct-10-hading h2{
    text-align: center;
}
.sct-10-img-area{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 20px;
}
.sct-10-imgs{
    width:32% ;
}
.sct-10-imgs img{
    max-width: 100%;
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
}
.sct-opacity{
    opacity: 0.5;
}
.sct-10-icons{
    width: 100%;
}
.sct-10-icons span{
    font-size:40px ;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top:-200px ;
    padding: 10px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50%;
    top: 100px;
    
}
.sct-10-icons-1 span{
    position: absolute;
    left:0 ;
    top: 170px;
}
.sct-10-icons-2 span{
    position: absolute;
    right:0 ;
    top: 170px;
}
.sct-10-icons span:hover{
    background-color: #191919;
}
.section-11{
    padding-top: 100px;
    padding-bottom: 150px;
}
.sct-10-heading h2{
    text-align: center;
}
.sct-10-main{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.sct-10-pricelist{
    width:31% ;
}
.sct-10-pr-1{
    width:100% ;
    text-align: right;
}
.sct-10-pr-1 h4{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    margin-top: 10px;
}
.sct-10-pr-1 p{
    font-size: 17px;
    color: rgba(0, 0, 0, .5);
    line-height: 25px;
}
.sct-10-mobail-img{
    background-image: url(../svg/organic-shape-01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:31% ;
    
}
.sct-10-mobail-img img{
    max-width:100% ;
}
.sct-10-pr-2{
    width:100% ;
    text-align: left;
}
.section-12{
    position: relative;
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-12::before{
    position: absolute;
    content: "";
    width:100% ;
    height:2px ;
    background-color: rgba(0, 0, 0, .1);
    z-index:-1 ;
    top: 170px;
}
.sct-12-imgs{
    display: flex;
    gap: 30px;
    width:40% ;
    margin: 0 auto;
    z-index: 2;
    border:40px solid #1B1464 ;
    padding: 50px 80px;
    border-radius: 150px;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: center;
}
.sct-12-imgs img{
    max-width: 100%;
}
.section-13{
    padding-top: 50px ;
    padding-bottom: 100px;
}
.sct-13-coe-list{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width:100% ;
    flex-wrap: wrap;
    gap: 20px;
}
.sct-13-coe{
    width:23.5% ;
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
    border-radius: 5px;
}
.sct-13-coe img{
    width:100% ;
    border-radius: 5px 5px 0 0;
}
.sct-13-name, .sct-13-icons{
    padding: 20px;
}
.sct-13-name{
    border-bottom:1px solid rgba(0, 0, 0, .2) ;
}
.sct-13-name h5{
    margin: 0;
    font-size: 16PX;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.sct-13-name P{
    margin-top: 10PX;
    color: rgba(0, 0, 0, .6);
}
.sct-13-icons i{
    padding-left: 10px;
    color: rgba(0, 0, 0, .5);
    font-size: 20px;
}
.section-14{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-14::before{
    position: absolute;
    background-image: url(../img/pattern-topo.png);
    content: "";
    width: 100%;
    height:100%;
    opacity:0.1;
}
.sct-14-main{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 40px;
}
.sct-14-clients{
    width:30% ;
    text-align: center;
}
.sct-14-border{
    position: relative;
}
.sct-14-border::before{
    content: "";
    bottom: 0;
    border: 0.125rem solid #f26d7d;
    border-radius: 50%;
    height: 0.625rem;
    margin: auto;
    position: absolute;
    top: 0;
    width: 0.625rem;
    left:300px ;
}
.sct-14-clients h2{
    font-size:50px ;
    font-weight: 400;
    margin-bottom: 10px;
}
.sct-14-clients p{
    text-align: center;
    font-size: 25px;
    margin: 0;
    color: rgba(0, 0, 0, .6);
}
.section-15 iframe{
    width: 100%;
    height:50vh ;
}
footer{
    background-image: url(../img/bg-desk.jpg);
    background-size: cover;
    position: relative;
    z-index: 2;
}
footer::before{
    position: absolute;
    width:100% ;
    height:100% ;
    background-color: #2E266C;
    content: "";
    opacity: 0.9;
    z-index:-1 ;
}
.contact{
    display: flex;
    gap: 30px;
    align-items: start;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding:50px 40px ;
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
    border-radius: 8px;
    position: relative;
    top: -50px;
}
.contactus{
    width:35% ;
}
.contact h3{
    margin-top: 0;
    font-size: 25px;
}
.contact p{
    color: rgba(0, 0, 0, 0.7);
}
.contact h4{
    margin-bottom: 10px;
}
.footer-email a{
    text-decoration: none;
    color: #dd1a2e;
}
.contact-form{
    width: 60%;
}
.footer-name{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-name2{
    width: 48%;
}
.footer-name1{
    width: 48%;
}    
.footer-input-area label{
    font-size: 16px;
    margin-bottom: 15px;
}
.footer-name input{
    padding: 8px 0px;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .2);
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-message{
    width: 100%;
}
.footer-message textarea{
    padding:50px 0px ;
    width: 100%;
    padding-top: 10px;
    padding-bottom:70px ;
    padding-left: 10px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .2);
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.footer-button{
   width: 100%;
   text-align: right;
   padding-bottom: 30px;
   padding-top: 20px;
}
.footer-copyright p{
    color:rgba(255, 254, 254, 0.8) ;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}
.padding-lr{
    padding-left: 30px;
    padding-right: 30px;
}
#check{
    display: none;
}
.checkbtn{
    display: none;
    font-size: 30px;
    color: #fff;
}

/* Contaner Responsive */

@media (max-width:1115px){
    header{
        width:100% ;
    }
    .contaner{
        width: 100%;
    }
    .hero-text-area h1{
        font-size:50px ;
    }
}


/* Mobail Responsive */

@media (max-width:768px){
    header{
        width:100% ;
    }
    .contaner{
        width:100% ;
    }
   
    .checkbtn{
        display: block;
        cursor: pointer;
        
    }
    
    .navber {
        position: fixed;
        width:50vw ;
        height:60vh ;
        top: 78px;
        left: -200%;
        transition: all .5s;
        flex-direction: column;
        box-shadow: 10px 10px 191px 6px rgba(0,0,0,0.56);
        -webkit-box-shadow: 10px 10px 191px 6px rgba(0,0,0,0.56);
        -moz-box-shadow: 10px 10px 191px 6px rgba(0,0,0,0.56);
    }
    .navber::before{
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        background-color: #fff;
        z-index: -1;
    }
    .navber ul {
        flex-direction: column;
        justify-content: start;
        gap: 35px;
    }
    .navber ul li a {
        color: #222;
    }
    .active{
        color: #222 !important;
    }
    .navber-area .button {
        margin-top: 30px;
    }
    #check:checked ~ .navber{
        left: 0;
    }
    .hero-mobail-img-area{
        display: none !important;
    }
    .section-4-imgs{
        margin: 0;
    }
    .footer-name2{
        width: 100%;
    }
    .footer-name1{
        width: 100%;
    }
    .contactus{
        width: 100%;
    }
    .contact-form{
        width: 100%;
        padding-top: 30px;
    }
    .hero-text-area{
        width: 75%;
        padding-top: 170px;
    }
    .sct-2-work{
        width:80% ;
    }
    .section-5-text-area{
        width: 100%;
    }
    .section-5-img{
        width: 100%;
    }
    .section-6-imgs{
        width: 100%;
    }
    .section-6-text-area{
        width: 100%;
        padding-top: 50px;
    }
    .cards{
        gap: 50px;
    }
    .card{
        width: 60%;
    }
    .clientimg{
        top: 0;
    }
    .sct-9-img-icon{
        left: 70px;
        padding: 10px;
    }
    .sct-9-img-icon i{
        font-size: 20px;
    }
    .sct-opacity{
        display: none;
    }
    .sct-10-imgs{
        width: 80%;
    }
    .sct-10-pricelist{
        width: 100%;
    }
    .sct-10-mobail-img{
        width: 100%;
    }
    .sct-10-pr-1{
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    .sct-13-coe{
        width: 60%;
    }
    .hading-h2{
        text-align: center;
    }
    .sct-14-clients{
        width: 50%;
    }
    .bg-img-sections{
        height: 70vh;
    }
    
}

/* Smail Devies Responvie */

@media (max-width:576px){
    header{
        width: 100%;
    }
    .contaner{
        width: 100%;
    }
    .hero-text-area h4{
       font-size:25px;
    }
    .hero-text-area h1{
        font-size: 40px;
    }
    .section-3-logos{
        gap: 50px;
    }
    .hading-h2{
        font-size: 35px;
    }
    .section-6-text-area{
        padding-top: 200px;
    }
    .sct-7-submit-area{
        gap: 20px;
    }
    .sct-7-input{
        width: 80%;
    }
    .sct-9-img-icon{
        left: 50px;
    }
    .sct-10-icons-1 span{
        left: 0;
        top: 120px;
    }
    .sct-10-icons-2 span{
        right: 0;
        top: 120px;
    }
    .sct-13-coe{
        width: 100%;
    }
    .sct-14-border::before{
        display: none;
    }
    .card{
        width: 80%;
    }
    .sct-10-pr-1{
        width: 80%;
    }
}