body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.contaner{
    width:1115px;
    margin: 0 auto;
}
.active{
    color: #fff !important;
}
header{
    background-color: #1A1360;
    padding:20px 0 ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.bg-img img{
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
}

.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.navber-area{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navber{
    
}
.navber ul{
    display: flex;
    padding: 0 30px;
    flex-wrap: wrap;
}
.navber ul li{
    list-style: none;
    padding: 0 10px;
}
.navber ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5) ;
    transition: .3s ease;
}
.navber ul li a:hover{
    color:#BBC1D7 ;
}
.section-1{
    padding-top: 90px;
}
.bg-img-sections::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(201, 27, 27, 0.6);
    z-index: -1;
}
.bg-img-sections{
    background-image: url(../img/bg-girl-02.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index:1;
}
.hero-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.hero-text-area{
    width: 50%;
}
.hero-text-area h4{
    font-size:30px ;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    margin-bottom:20px ;
}
.hero-text-area h1{
    font-size: 60px;
    color: #fff;
    margin-top: 10px;
}
.header-area a button{
    font-size: 15px;
    padding: 8px 15px;
}
.button button:hover{
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
}
.hero-mobail-img-area{
    width:40% ;
    position: relative;
}
.hero-icons{
   position: absolute;
   top: 350px;
   left: 0;
   cursor: pointer;
}
.hero-icons1{
    position: absolute;
    top: 350px;
    right: 0;
    cursor: pointer;
}
.hero-mobail-img-area span{
    font-size: 50px;
    color: #fff;
}
.hero-mobail-img-area img{
    margin-left: 20px;
}
.section-2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section-2 h2{
    font-size: 40px;
    font-weight:500 ;
}
.section-2-works{
    display: flex;
    width:100% ;
    padding-top: 50px;
    gap:20px ;
    flex-wrap: wrap;
}
.sct-2-work{
    width:32% ;
}
.sct-2-work-img-area1{
   background-image: url(../svg/organic-shape-01.svg);
   background-repeat: no-repeat;
   background-position: center;
}
.sct-2-work-img-area2{
    background-image: url(../svg/organic-shape-02.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }
 .sct-2-work-img-area3{
    background-image: url(../svg/organic-shape-03.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }
 .sct-2-text-area h4{
    font-size: 20px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.8);
 }
 .sct-2-text-area p{
    color:rgba(0, 0, 0, 0.5) ;
    line-height: 28px;
 }
 .section-3{
    background-color: #F6F6F6;
 }
 .section-3-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 10px ;
 }
 .section-4{
    background-image: url(../img/bg-shapes-image.png);
    background-color: rgb(237, 237, 237);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    padding-top: 100px;
    
 }
 .section-4::after{
    background-image: url(../img/bg-shape-mask-down.png);
    background-size: cover;
    bottom: -0.0625rem;
    content: "";
    left: 0;
    height: 3.75rem;
    position: absolute;
    width: 100%;
}
.section-4-heading{
    text-align: center;
    margin-bottom: 60px;
}
.section-4-heading h2{
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}
.section-4-heading p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.section-4-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px ;
    margin-bottom: 70px;
}
.section-4-desktop h4{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.sct-4-bofor h4{
    color:rgba(0, 0, 0, 0.8) ;
    position: relative;
}
.sct-4-bofor h4::before{
    position: absolute;
    content: "";
    width:73px ;
    height: 3px;
    background-color:#F26D7D ;
    top:28px ;
}
.section-4-imgs{
    margin:0px 208px;
}
.section-5{
    padding-top: 100px;
    padding-bottom: 150px;
}
.section-5-heading{
    margin-bottom: 80px;
}
.section-5-heading h2{
    font-size:40px ;
    font-weight: 500;
    font-family: inherit;
}
.section-5-main{
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding-top: 20px;
}
.section-5-text-area{
    width:47% ;
}
.section-5-text-area p{
    margin-top: 0;
    margin-bottom: 40px;
    color:rgba(0, 0, 0, .5);
    font-weight: 500;
    line-height: 25px;
}
.button button{
    color: #fff;
    padding:10px 25px ;
    background-color: #F26D7D;
    border:none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}
.section-5-img{
    width:49% ;
    
}
.section-5-img img{
    width: 100%;
    box-shadow:0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2) ;
}
.section-6{
    background-image: url("../img/bg-shapes-image-02 (1).png");
    background-repeat: no-repeat;
    padding-top: 70px;
    
}
.section-6-main{
    display: flex;
    justify-content: space-between;
    align-items:start;
    
}
.section-6-imgs{
    width:48% ;
    padding-left:50px ;
    
}
.sct-6-imgs-main{
    width: 100% ;
    position: relative;
    
}
.sct-6-imgs-main img{
    width:100% ;
    box-shadow: 0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2);
}
.sct-6-imgs-topimg{
    width:45% ;
    position: relative;
    top:-400px ;
    margin: 0 auto;
    z-index:2 ;
}
.sct-6-imgs-topimg img{
    max-width:100% ;
    box-shadow: 0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2);
}
.sct-6-imgs-bottomimg{
    width:45% ;
    position: relative;
    top:-305px ;
    left:-50px ;
}
.sct-6-imgs-bottomimg img{
    max-width: 100%;
    box-shadow: 0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2);
}
.section-6-text-area{
    width:40% ;
    
}
.sct-6-text-heading{
    margin-bottom: 70px;
}
.sct-6-text-heading h2{
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;
}
.section-6-text-area p{
    color: rgba(0, 0, 0, .5);
    line-height: 25px;
}
.sct-6-text-option{
    margin-top: 40px;
    
}
.sct-6-text-option h6{
    margin: 0;
}
.sct-6-text-option p{
    margin-bottom: 30px;
}
.sct-6-text-option h6:hover{
    color:#dd1a2e ;
}
.section-6-text-area h6{
    font-size: .9375rem;
    font-weight: 500;
    transition: ease 0.3s;
    margin-top: 20px;
}
.sct-6-text-border{
    border-top:1px solid rgba(0, 0, 0, .2) ;
}
.sct-6-text-border h6{
    margin:15px 0;
}
.section-6-text-area h6:hover{
    color:#dd1a2e ;
}
.section-7{
    position: relative;
    z-index:1 ;
}
.section-7::before{
    content:"";
    position: absolute;
    width:100% ;
    background-image: url(../img/bg-pattern-dot.png);
    background-repeat: repeat;
    background-position: center center;
    opacity: 0.1;
    height: 40vh;
    z-index:-1 ;
}
.section-7-heading h3{
    font-size: 27px;
    color: rgba(0, 0, 0, 0.8);
}
.sct-7-main{
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.sct-7-submit-area input{
    padding:12px 64% ;
    padding-left: 15px;
    cursor: pointer;
    outline:none ;
    border: 2px solid rgba(0, 0, 0, .3);
}
.sct-7-submit-area input::placeholder{
    font-size: 15px;
    color: rgba(0, 0, 0, .3);
}
.sct-7-submit-area button{
    margin-left: 20px;
    padding:10px 40px ;
}
.sct-7-main p{
    color: rgba(0, 0, 0, .4);
    font-size: 13px;
}
.hading-h2{
    font-size: 40px;
    font-weight: 500;
}
.section-8{
    padding-top: 150px;
    padding-bottom: 150px;
}
.section-8-heading h2{
    text-align: center;
}
.cards{
    width:100%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    width:33.33%;
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
    border-radius: 10px;
    z-index: -1;
    background-color: #FFFFFF;
}
.card-hading{
    width:100% ;
    background-color: #1B1464;
    
}
.card-hading h4{
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight:500 ;
    padding:14px 0 ;
    margin: 0;
}
.card-price{
    width:100% ;
    text-align: center;
    background-color:#F7F7F7 ;
    padding-top:50px ;
    padding-bottom: 30px;
}
.card-price h6{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}
.card-price p{
    margin-top: 5px;
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
}
.boderbutton{
    border-bottom:1px solid rgba(0, 0, 0, .2) ;
}
.card-fichers ul{
    padding-left: 0;
}
.card-fichers ul li{
    list-style: none;
    text-align: center;
    padding:12px 0 ;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}
.card-fichers ul li s{
    color: rgba(0, 0, 0, .5);
}
.card-button{
    width:100% ;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}
.card-button button{
    padding: 10px 20px;
    border: 2px solid #F26D7D;
    border-radius: 25px;
    font-size: 18px;
    color: #f26d7d;
    background: transparent;
}
.card-button button:hover {
    background-color: #f26d7d;
    color: #fff;
}
.card-scale{
    transform: scale(1.1);
    z-index:5 !important;
   box-shadow:0.375rem 0.3125rem 1.5625rem rgba(0, 0, 0, .2) !important;
}
.button-sclae button{
    background-color:#F26D7D !important ;
    color: #fff;
}
.button-sclae button:hover{
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
}
.card-hading-scale{
    background-color: #F26D7D;
}
.card-price-scale{
    background-color:#D96270 ;
    color: #fff;
}
.card-price-scale p{
    color: rgba(255, 255, 255, 0.5);
}
.card-price-scale span{
    margin-left: 2px;
    letter-spacing: 1px;
    font-size: 30px;
}